{% extends "gram/index.html"%}

{% block content %}
<button onclick="getlocation()">Get Current Location</button>
<form method="post">
	{% csrf_token %}
	<input type="hidden" name="gramid" value="{{ gram.id }}">
	<!-- Current location: <input type="text" name="name"><br>
	Latitude: <input type="text" name="latitude"><br>
	Longitude: <input type="text" name="longitude"><br> -->
	{% if gram.current_location %}
		Current location: <p>name:{{gram.current_location.name }},
		latitude :{{gram.current_location.latitude }},
		longitude:{{gram.current_location.longitude }}</p>
		Stores added:<br>
		{% for store in gram.stores.all %}
		<p>Name: {{ store.name }}, Latitude: {{store.latitude}},
		Longitude:{{ store.longitude }}
			{% for prod in store.products.all %}
				{{ prod.name }},
			{% endfor %}
		</p><br>

		{% endfor %}
		{{store_form.as_table}}
	    <input type="submit"  value="ADD STORE" name="addstore">
	    <a href="/findpath/{{gram.id}}">FINDPATH</a>
	    <!-- <input type="submit"  value="FIND PATH" name="findpath"> -->
	{% else %}
	{{ current_location_form.as_table }} 
	<input type="submit"  value="ADD LOCATION" name="addlocation"><br>
	{% endif %}
	
</form>
{% endblock %}