<!DOCTYPE html>
<html lang="en">
<head>
  <title>List Gram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <td>Name</td><td>email</td><td>phone</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td>Name</td><td>email</td><td>phone</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
        </table>
        
      </div>
    </div> 
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <td>Name</td><td>email</td><td>phone</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
        </table>
        
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td>Name</td><td>email</td><td>phone</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
          <tr>
            <td>jay</td><td>jay@gmail.com</td><td>9676622023</td>
          </tr>
        </table>
        
      </div>
      
    </div>
  </div>
</body>
</html>
