<!DOCTYPE html>
<html>
	<head>
		<title>LIST GRAM</title>
		<!-- css files
		javascrip files -->
		<!-- Internal style sheets -->

		<!-- <style type="text/css">
			.st_blue{
				color: yellow;
			}
			#st_red{
				color: red;
			}
		</style> -->
		<script type="text/javascript" src="static/gram/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="static/gram/css/main.css">
	</head>
	<body style="background-color: grey"> <!--  inline styles -->
		<!-- <h1 style="color: blue">LOGIN FORM </h1>  --><!--  inline styles -->
		<h1>Login Form</h1>
		<form method="get">
			Username:<input type="text" name=""><br>
			Password: <input type="text" name=""><br>
			<input type="submit" name="" value="LOGIN">
		</form>
		<button onclick="showmessage()" onmouseover="mouseover()">SHOW MESSAGE</button>
		<img src="static/gram/images/1.jpg" width=100 height=100>
		<div class="st_blue">
			<h1>HEADE1</h1>
			<h2>HEADE2</h1>
			<h3>HEADE3</h1>
			
		</div>
		<!--   -->
		<div class="st_blue" >
			<p>paragra[h1</p>
			<p>paragra[h1</p>
			<p>paragra[h1</p>
			<p>paragra[h1</p>
		</div>
		<div id="st_red" >
			<p>paragra[h1</p>
			<p>paragra[h1</p>
			<p>paragra[h1</p>
			<p>paragra[h1</p>
		</div>
		
		
		<table border=2>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td>Jayaram</td><td>jay@gmail.com</td><td>9676622023</td>
				</tr>
				<tr>
					<td>Jayaram</td><td>jay@gmail.com</td><td>9676622023</td>
				</tr>
				<tr>
					<td>Jayaram</td><td>jay@gmail.com</td><td>9676622023</td>
				</tr>
				<tr>
					<td>Jayaram</td><td>jay@gmail.com</td><td>9676622023</td>
				</tr>
				<tr>
					<td>Jayaram</td><td>jay@gmail.com</td><td>9676622023</td>
				</tr> 	
			</tbody>
		</table>
	</body>
</html>